.main
  .main-header
    .leftbox
      .leftbox__currentgroup 魚
      .leftbox__currentmenber Member : yoshimasa
    .rightbox
      .rightbox__btn Edit
  .main-message
    .message-box
      .upperbox
        .upperbox__talker yoshimasa
        .upperbox__date 2019/03/15(Sut) 13:03:47
      .text 鯖
  .main-form
    %form{class: "input-area"}
      .inputbox
        .inputbox__text
          Type a message
        .inputbox__icon
          %label{class: "fa fa-image"}
            %input{:class => "upload", :type => "file", :accept => "image/*" }
      .inputbutton
        Send