.wrapper
  .chat_side
    .side_header
      .side_header_box
        .side_header_box_name 名前
        .side_header_box_menu
          %i{class: "fa fa-edit"}
          %i{class: "fa fa-cog"}
    .groups
      .group
        .group_name
          魚
        .group_message
          秋刀魚
      .group
        .group_name
          魚
        .group_message
          秋刀魚
      .group
        .group_name
          魚
        .group_message
          秋刀魚
  = render 'messages/main'