.wrapper
  .chat_side
    .side_header
      .side_header_box
        .side_header_box_name 名前
        .side_header_box_menu
          %i{class: "fa fa-edit"}
          %i{class: "fa fa-cog"}
    .groups
      .group
        .group_name
          魚
        .group_message
          秋刀魚
      .group
        .group_name
          魚
        .group_message
          秋刀魚
      .group
        .group_name
          魚
        .group_message
          秋刀魚
  .chat_main
    .main_header
      .main_header_leftbox
        .main_header_leftbox_currentgroup 魚
        .main_header_leftbox_currentmenber Member : yoshimasa
      .main_header_rightbox
        .main_header_rightbox_btn Edit
    .main_message
      .main_message_box
        .main_message_upperbox
          .main_talker yoshimasa
          .main_message_date 2019/03/15(Sut) 13:03:47
        .main_text 鯖
    .form
      %form{class: "input_area"}
        .input_box
          .input_text
            Type a message
          .input_icon
            %label{class: "fa fa-image"}
              %input{:class => "upload", :type => "file", :accept => "image/*" }
        .submit_button
          Send
