.wrapper
  .side
    .side-header
      .side-header__box
        .side-header__box_name 名前
        .side-header__box_menu
          %i{class: "fa fa-edit"}
          %i{class: "fa fa-cog"}
    .side-groups
      .side-group
        .side-groups__group_name
          魚
        .side-groups__group_message
          秋刀魚
      .side-group
        .side-groups__group_name
          魚
        .side-groups__group_message
          秋刀魚
      .side-group
        .side-groups__group_name
          魚
        .side-groups__group_message
          秋刀魚
  = render 'messages/main'