.side-groups
  - current_user.groups.each do |group|
    .side-group
      = link_to group_messages_path(group) do
        .side-group__group_name
          = group.name
        .side-group__group_message
          = group.show_last_message