.main{
    width: calc(100vw - 300px);
    float: right;
    height: 100vh;
    display: block;
    left:300px;
    .main-header{
      height: 99px;
      padding: 0 40px;
      display: flex;
      justify-content: space-between;
      border-bottom: solid 1px #eee;
      overflow: scroll;
      .leftbox{
        margin-top: 35px;
        &__currentgroup{
          font-size: 20px;
          color: #333;
          margin-bottom: 15px;
        }
        &__currentmenber{
          font-size: 12px;
          color:#999999
        }
      }
      .rightbox{
        box-sizing: border-box;
        color: #38aef0;
        &__btn{
          height: 40px;
          line-height: 40px;
          padding: 0 20px;
          margin-top: 30px;
          border: solid 1px #38aef0;
        }
      }
    }
    .main-message{
      height: calc(100vh - 282px);
      padding: 46px 40px;
      background-color: #fafafa;
      overflow: scroll;
      display: block;
      &__box{
        padding-bottom: 40px;
        .upperbox{
          display: flex;
          margin-bottom: 10px;
          &__talker{
            color: #434a54;
            font-size: 16px;
            font-weight: bold;
          }
          &__date{
            color: #999999;
            font-size: 12px;
            margin-left: 10px;
          }
        .text{
          color: #434a54;
          font-size: 14px;
          margin-bottom: 10px;
        }
        }
      }
    }
    .main-form{
      background-color: #ddd;
      padding: 20px 40px;
      height: 50px;
      line-height: 50px;
      .input-area{
        float: left;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        .inputbox{
          width: 90%;
          background-color: #fafafa;
          height: 50px;
          display: flex;
          justify-content: space-between;
          &__text{
            float: left;
            margin-left: 10px;
          }
          &__icon{
            margin-right: 10px;
            .upload{
             display: none;
            }
          }
        }
      }
        .inputbutton{
          height: 50px;
          background-color: #38AEF0;
          width: 10%;
          float: right;
          margin-left: 15px;
          text-align: center;
          color:white;
        }
    }
  }